<div style="" class="py-16 flex flex-col justify-center items-center space-y-10 items-center bg-white">
  <div class="space-y-8">
    <h1 class="text-center text-hlBlue font-black xl:text-40 text-2xl max-w-full">DESAFIOS PROPOSTOS</h1>
    <div class="text-hlBlue font-semibold text-xs xl:text-base px-10 lg:w-1110">
      <span class="">Os principais desafios temáticos identificados junto ao setor produtivo são 
        apresentados abaixo. As soluções pelos candidatos devem buscar solucionar essas dores,
        tendo como foco ao menos uma das culturas:
      <span style="color: #42C5D0;">
        soja, milho, feijão, algodão, trigo e citros
      </span>
      </span>
    </div>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-12">
    <div *ngFor="let desafio of desafios" class="item">
      <app-desafio-item [desafio]="desafio"></app-desafio-item>

    </div>
  </div>


</div>


