<footer  class="bg-hlBlue text-white space-y-3 lg:space-y-6 w-full flex flex-col lg:flex-row items-center lg:grid lg:grid-rows-1 px-60 py-3 lg:py-6 lg:px-405">
  <div class="border-b w-full pb-4 lg:pb-8 flex" style="border-color: #9BAFC6;">
    <span class="w-full text-xs lg:text-base">www.holambra.com.br</span>
    <div class="flex justify-end items-center space-x-4 w-full">
      <img style="height: 16px; width: auto;" src="../../../assets/ico-email.svg">
      <img style="height: 16px; width: auto;" src="../../../assets/ico-phone.svg">

    </div>
  </div>
  <div class="w-full flex ">
    <span class="text-sm w-full font-light text-xs lg:text-base">© 2021 Cooperativa Agroindustrial Holambra</span>
    <span class="w-full text-sm font-thin text-end text-xs lg:text-base">Desenvolvido por Innova</span>
  </div>
</footer>