<header style="height: 70px;" class="flex justify-between items-center">
  <div class="w-1/2 h-full flex items-center justify-center">
    <a routerLink="/" class="text-white font-bold text-xl">Holambra</a>
  </div>
  
  <div class="h-full w-1/2 flex items-center justify-start pr-4 px-10">
    <nav class="hidden lg:flex flex-row items-center text-sm font-medium text-white space-x-4">
      <a class="hover:text-gray-900" href="#">INSCREVA-SE</a>
      <a class="hover:text-gray-900" href="#">DESAFIOS</a>
      <a class="hover:text-gray-900" href="#">CRONOGRAMA</a>
      <a class="hover:text-gray-900" href="#">PREMIAÇÃO</a>
      <a class="hover:text-gray-900" href="#">REGULAMENTO</a>
    </nav>
  </div>
</header>