<div class="grid grid-cols-1 xl:grid-cols-2" >
  
  <div class="h-366 lg:h-732 w-full px-60 lg:pl-310 flex items-center bg-img">
    <div class="flex flex-col" >
      <h1 class="text-hlGreen font-black xl:text-40 max-w-full">
        DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA
      </h1>
      <h3 class="mt-4 lg:mt-8 text-white text-xs xl:text-2xl font-extralight">É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtos rurais.</h3>

      <div class="mt-3 lg:mt-6">
        <button class="py-2 px-4 xl:py-4 xl:px-8 bg-white font-bold text-hlBlue text-xs xl:text-xl">INSCREVA-SE</button>
      </div>
    </div>
    
  </div>
  
  <div class="bg-hlGreen h-366 lg:h-732 w-full flex justify-center items-center xl:justify-start pr-4 lg:px-10">

    <div class="flex flex-col justify-center items-center space-y-0" >
      <img class="w-200 lg:w-420" src="../../../assets/logo_visibilidade.svg" alt="logo visibilidade">
    </div>

  </div>

</div>


