<div class="w-full" >
    <app-header class="lg:absolute lg:top-8 w-full"></app-header>
    <app-segmento-incial id="home"></app-segmento-incial>
    <app-desafios-segmento id="desafios"></app-desafios-segmento>
    <app-segmento-cronograma class="w-full" id="cronograma"></app-segmento-cronograma>
    <app-segmento-premiacao id="premiacao"></app-segmento-premiacao>
    <div class="px-10 lg:px-405">
        <div style="height: 2px; background-color: #E7ECF2;" ></div>

    </div>
    <app-segmento-inscricao id="inscricao"></app-segmento-inscricao>
    <div class="relative" >
        <div class="absolute flex justify-end px-405 hidden lg:flex" style="top: -120px; right: 0px;">
            <button (click)="scrollToHome()"  class="bg-hlGreen py-3 px-4" ><img style="height: 32px;" src="../../../assets/arrow-up-solid.svg"></button>
        </div>
        <app-footer ></app-footer>
    </div>
</div>